<div class="small-12 columns">
<p id="notice"><%= notice %></p>

<h1>Cable Types</h1>

<table>
  <thead>
    <tr>
      <th>Sku</th>
      <th>Description</th>
      <th>Grams per metre</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cable_types.each do |cable_type| %>
      <tr>
        <td><%= cable_type.sku %></td>
        <td><%= cable_type.description %></td>
        <td><%= cable_type.grams_per_metre %></td>
        <td><%= link_to image_tag('pencil-icon'), edit_cable_type_path(cable_type) %></td>
        <td><%= link_to image_tag("delete-icon"), cable_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <%= link_to button_tag('New Cable type', class: 'success'), new_cable_type_path %>
</div>