<div class="medium-12 columns">
  <p id="notice"><%= notice %></p>

<h1>Listing Drum Types</h1>

<table>
  <thead>
    <tr>
      <th>Diameter</th>
      <th>Width</th>
      <th>Description</th>
      <th>Empty grams</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @drum_types.each do |drum_type| %>
      <tr>
        <td><%= drum_type.diameter %></td>
        <td><%= drum_type.width %></td>
        <td><%= drum_type.description %></td>
        <td><%= drum_type.empty_grams %></td>
        <td><%= link_to image_tag('pencil-icon'), edit_drum_type_path(drum_type) %></td>
        <td><%= link_to image_tag("delete-icon"), drum_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <%= link_to button_tag('New Drum type', class: 'success'), new_drum_type_path %>
</div>