<!DOCTYPE html>
<html>
<head>
  <title>Measurecable</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %> 
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row title"> 
  <div class="medium-12 columns" style="text-align: center;">
    <%= image_tag "asl_logo.jpg", id: "title_logo" %>
  </div>
</div>
  

  
<div class="row grey">
  <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
  
  <%= yield %>
  
  <div class="small-12 columns">
    <hr class='menu'>
    <p class='menu'><%=link_to button_tag("Cable wizard", class: 'purple'), :wizard_cable  %></p>
    <p class='menu'><%=link_to button_tag("Edit cable types", class: 'info'), :cable_types  %></p>
    <p class='menu'><%=link_to button_tag("Edit drum types", class: 'info'), :drum_types  %></p>

  </div>
  
</div>
  
  
</body>
</html>
